body {
        margin: 0px;
        padding: 0px;
        /* background-image: url(/images/bg.jpg); */
    }

    .left {
        position: absolute;
        left: 32px;
        top: 20px;
        display: inline-block;
        border: 2px solid rgb(172, 75, 45);
    }

    .left img {
        width: 85px;
    }

    .left div {
        text-align: center;
        color: crimson;
    }

    .mid {
        display: block;
        width: 33%;
        margin: 20px auto;
        border: 2px solid rgb(24, 24, 211);
    }

    .right {
        position: absolute;
        right: 32px;
        top: 20px;
        display: inline-block;
        border: 2px solid rgb(9, 136, 58);
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 18px;

    }

    .navbar li a {
        text-decoration: none;
        color: cornsilk;
        padding: 5px 15px;
    }

    .navbar li a:hover {
        text-decoration: underline;
        color: cornsilk;

    }

    .btn {
        border: crimson;
        border-radius: 4px;
        margin: 2px;
        padding: 2px 14px;

    }

    .btn:hover {
        background-color: darkgrey;
        color: rgb(39, 32, 23);
    }

    .container {
        color: honeydew;
        border: 2px solid rgb(215, 228, 215);
        margin: 57px;
        padding: 4px 8px;
        width: 36%;
        border-radius: 10px;
        /* height: 144px; */
    }

    .container h1 {
        text-align: center;
    }

    .form-group input {
        text-align: center;
        width: 500px;
        padding: 2px;
        margin: 2px auto;

    }
    .container button{
        text-align: center;
        width: 90%;
        margin: 14px;
    }